@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Delete @Html.DisplayFor(model => model.MachineName)?</h2>

@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-dark"/>
}

<p class="btn btn-dark">@Html.ActionLink("Back to Machines", "Index")</p>
<p class="btn btn-dark">@Html.ActionLink("Home", "Index", "Home")</p>