@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h3>Machine Details</h3>
<hr>
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not assigned to any machines</p>
}
else
{
  <h4>Machines this engineer is licensed for: </h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Machine.MachineName</li>
    }
  </ul>
}
  <p class="btn btn-outline-dark">@Html.ActionLink("Hire a new engineer", "Create")</p>
  <p class="btn btn-outline-dark">@Html.ActionLink("Edit engineer", "Edit", new {id = Model.EngineerId})</p>
  <p class="btn btn-outline-dark">@Html.ActionLink("Add an existing machine", "AddMachine")</p>
  <p class="btn btn-outline-dark">@Html.ActionLink("Remove existing machine", "DeleteMachine")</p>
  <p class="btn btn-outline-dark">@Html.ActionLink("Delete engineer", "Delete", new {id = Model.EngineerId})</p>
  
  <p class="btn btn-outline-dark">@Html.ActionLink("Home", "Index", "Home")</p>